body {
    height: 100%;
    background-image: url('/media/articles/black.jpg');
    background-size: cover;

    #firstTitle{
        background: none;
        font-weight: bold;
    }
    h1 {
        padding: 1em;
        background: black;
        text-align: center;
        color: yellow;
        text-decoration: underline;
        a {

            text-decoration-line: overline underline;
            padding: 0.5em;
        }
    }

    h2 {
        background: black;
        color: yellow;
        text-align: center;
        padding: 1em;
    }

    label {
        color: yellow;
    }

    div{
        .infos{
            display: flex;
            justify-content: space-around;
            padding: 2em;
        }
        .status{
           select#id_progress{

           }
        }
    }

    tbody{
        th{
            text-align: center;
        }
    }

    td{
        padding: 0.5em;
        text-align: center;
        a.delete-row{
            padding-left: 2em;
            color: orangered;
        }
        a.add-row{
            color: orangered;
        }
    }


    th{
        color: yellow;
        padding: 2em;
    }

    .btn {
        color: yellow;
        background-color: black;
        width: 100%;
        border-color: white;
    }

    .btn:hover {
        color: black;
        background-color: yellow;
    }

    p {
        color: white;
        text-align: center;
    }

    .quotebillDetails{
            li{
                color: white;
                display: flex;
                justify-content: center;
                a{
                    color: yellow;
                }
                
               } 
    }

    .quoteList{
        li{
            color: white;
        }
    }

    .readList{
        text-align: center;
        color: yellow;
        padding-top: 1em;
    }

    .tableProduct{
        display: flex;
        justify-content: center;
        a{
            color: white;
        }
        a:hover{
            color: yellow;
        }
        
    }

    .ProductListColor{
        color: orangered;
    }

    .total-e{
        color: yellow;
        font-weight: bold;
        font-size: 1.3em;
        .total{
            color: yellow;
            font-weight: bold;
            font-size: 1.3em;
        }
    }


    ul {
        li {
            list-style: none;

            a {
                color: white;
            }

            a:hover {
                color: yellow;
            }
        }
    }
    
    .info{
        color: yellow;
    }
    .check{
        background-color: yellow;
        color: black;
        width: 15%;
    }
}