{%extends "facturier/base.html"%}
{% load static %}
{%block content%}
<div class="col-4">
    <h2>{{product.name}}</h2>
    <p class="">stock :{{product.stock}}</p>
    <p>price: {{product.price}} €</p>

    {% if perms.facturier and perms.facturier.changer_product %}
    <a href="{% url 'product-edit' object.slug %}" class="btn btn-primary" role="button">Modifier le produit</a>
    {%endif%}
    {% if perms.facturier and perms.facturier.delete_product %}
    <a href="{% url 'product-delete' object.slug %}" class="btn btn-primary" role="button">Supprimer le produit</a>
    {%endif%}
</div>
{%endblock%}